.headline-typewriter {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.un {
  color: crimson;
  margin-right: 0.3rem;
}

.typed {
  color: #111;
}

.cursor {
  display: inline-block;
  width: 1px;
  height: 1.2em;
  background-color: black;
  margin-left: 5px;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.carousel .slide img {
  max-height: 550px;
  width: 100%;
  object-fit: cover;
}


.vector-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  /* controls spacing between images */
  padding: 0 24px;
  justify-items: center;
  /* centers images in each cell */
}

.vector-images img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  border-radius: 30px;
  object-fit: cover;
  margin: 0;
  /* remove the 10% margin */
}


.punchline {
  text-align: center;
  color: rgb(211, 134, 12);
  font-size: 2rem;
}

@media (max-width : 768px) {
  .headline-typewriter {
    font-size: 2rem;
  }
}

@media (max-width : 768px) {
  .vector-images {
    margin-right: -30px;
  }
}